@model SchoolQuizzes.Web.ViewModels.Quizzes.DetailsQuizViewModel;
@{
    this.ViewData["Title"] = "Детайли";
}
<h1>@Model.Title</h1>
<div class=" form-group">
    <label asp-for="Category"></label>
    <span>@Model.Category</span>
</div>
<div class=" form-group">
    <label asp-for="Difficult"></label>
    <span>@Model.Difficult</span>
</div>
<h2>Въпроси в теста: </h2>
@foreach (var item in Model.Questions)
{
    <div class=" form-group">
        <p class="lead">@item.QuestionValue</p>
    </div>
}
