 @model SchoolQuizzes.Web.ViewModels.Quizzes.IndexQuizViewModel;
@{
    this.ViewData["Title"] = "Списък с тестове";
}
<table class=" table table-responsive-lg  table-hover table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>Въпрос</th>
            <th>Категория</th>
            <th>Трудност</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var q in Model.Quizzes)
        {
            <tr>
                <td>@q.Title</td>
                <td>@q.CategoryName</td>
                <td>@q.DifficultName</td>
                <td><a asp-action="Details" asp-route-id="@q.Id">Детайли</a></td>
            </tr>
        }
    </tbody>
</table>