@model SchoolQuizzes.Web.ViewModels.Takes.SelectTakeIndexViewModel
@{
    this.ViewData["Title"] = "Избери тест: " + ViewBag.Title;
    var quizzesItems = this.Model.QuizzesItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<form method="post" class=" col-md-6 offset-md-3">
    <h1>@this.ViewData["Title"]</h1>
    <div class=" form-group">
        @*<label asp-for="QuizId"></label>*@
        <select asp-for="QuizId" asp-items="quizzesItems" class="form-control "></select>
        <span asp-validation-for="QuizId" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Започни теста" />
</form>