@{
    this.ViewData["Title"] = "Начало на тест: " + ViewBag.Title;
}
<h1>@this.ViewData["Title"]</h1>

<a class="btn btn-success" asp-area="" asp-controller="TakesQuiz" asp-action="Take">Започни този тест</a>